<script type="text/javascript" src="{{ '/assets/js/cookie-consent/cookiechoices.js' | absolute_url }}"></script>
<!-- <script type="text/javascript" src="/js/jquery-1.11.2.js"></script> -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function (event) {
        cookieChoices.showCookieConsentBar('Esta página usa Cookies. Si continuas navegando estás aceptando su uso.', 'Aceptar y cerrar', 'Más información', '{{site.url}}{{ site.baseurl }}/acerca-de/cookies-info.html');
    });
</script>
